<div class="container">
  <div class="content-wrapper top-header-spacer">
    <div class="Vaccine-center-wrapper">
      <!-- start card design -->
      <div class="center-listing-wrapper">
        <div class="row">
        <div class="col-md-4 mx-auto">
            <mat-card class="listing-card">
            <mat-card-content>
              <h2>Fetch New Patients</h2>
            </mat-card-content>
            <mat-card-actions>
              <button mat-mini-fab color="accent" (click)="newPatientsDetailPage()">
                <mat-icon>arrow_right_alt</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4 mx-auto">
            <mat-card class="listing-card">
            <mat-card-content>
              <h2>Fetch Vaccinated Patients</h2>
            </mat-card-content>
            <mat-card-actions>
              <button mat-mini-fab color="accent" (click)="newPatientsVaccinated()">
                <mat-icon>arrow_right_alt</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
         </div>
      </div>
  </div>

</div>
</div>
</div>
