<div class="container">
  <div class="content-wrapper top-header-spacer">
    <div class="Vaccine-center-wrapper">
      <!-- start card design -->
      <div class="center-listing-wrapper">
        <mat-card>
            <div class="row">
              <img src="../../assets/images/thankyou.png">
              <mat-card-content>
               <h1>Appointment is booked will be get back to you with in
                 3 weeks via Email with appointment date and time</h1>
              </mat-card-content>
            </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
